:root{
    /* Definindo variáveis de cores para uso em todo o CSS */
    --azul: rgb(66, 66, 223);
    --branco: azure;
    --vermelho: rgb(255, 82, 82);
}

*{
    /* Resetando padding e margin para todos os elementos */
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura e altura */
}

body{
    /* Estilizando o corpo da página */
    background-color: var(--azul); /* Cor de fundo usando a variável azul */
    font: normal 18px arial; /* Fonte padrão */
    color: white; /* Cor do texto */
    display: flex; /* Usando flexbox para layout */
    flex-direction: column; /* Direção das colunas */
    align-items: center; /* Centralizando itens horizontalmente */
    justify-content: center; /* Centralizando itens verticalmente */
    min-height: 100vh; /* Altura mínima da página */
    position: relative; /* Para posicionamento de elementos filhos */
    padding: 20px 0; /* Padding vertical */
}

.p{
    /* Estilizando parágrafos */
    text-align: center; /* Centralizando texto */
    font: normal 13px arial; /* Fonte para parágrafos */
    font-style: italic; /* Estilo itálico */
}

section{
    /* Estilizando seções */
    padding: 20px; /* Padding interno */
    width: 40vw; /* Largura de 40% da viewport */
    background-color: var(--branco); /* Cor de fundo usando a variável branca */
    margin: auto; /* Centralizando a seção */
    border-radius: 15px; /* Bordas arredondadas */
    color: black; /* Cor do texto */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.425); /* Sombra para profundidade */
    height: auto; /* Altura automática */
    align-items: center; /* Alinhando itens dentro da seção */
}

h1{
    /* Estilizando cabeçalhos */
    text-align: center; /* Centralizando texto */
    margin-bottom: 20px; /* Margem inferior */
}

.content{
    /* Estilizando o conteúdo principal */
    display: flex; /* Usando flexbox */
    align-items: center; /* Alinhando itens verticalmente */
    justify-content: space-between; /* Espaçamento entre itens */
}

.div-add-task{
    /* Estilizando a div para adicionar tarefas */
    position: relative; /* Para posicionamento absoluto de elementos filhos */
    height: auto; /* Altura automática */
    margin-top: 10px; /* Margem superior */
    display: flex; /* Usando flexbox */
    width: 70%; /* Largura de 70% */
    height: 55px; /* Altura fixa */
}

#new-task{
    /* Estilizando o campo de entrada para nova tarefa */
    position: absolute; /* Posicionamento absoluto */
    background-color: transparent; /* Fundo transparente */
    padding: 15px 5px; /* Padding interno */
    border: 1px solid rgba(128, 128, 128, 0.458); /* Borda com cor semi-transparente */
    outline: none; /* Removendo contorno padrão */
    border-radius: 10px; /* Bordas arredondadas */
    width: 100%; /* Largura total */
    z-index: 2; /* Para sobreposição */
    font-size: .9em; /* Tamanho da fonte */
}

.div-add-task > label{
    /* Estilizando o rótulo associado ao campo de entrada */
    position: absolute; /* Posicionamento absoluto */
    display: flex; /* Usando flexbox */
    align-items: center; /* Alinhando itens verticalmente */
    height: 50px; /* Altura fixa */
    padding-left: 5px; /* Padding à esquerda */
    transition: .5s; /* Transição suave */
}

/* Estilos para o rótulo quando o campo de entrada está focado ou válido */
#new-task:focus + label,
#new-task:valid + label{
    transform: translateX(10px) translateY(-14px); /* Movendo o rótulo */
    transition: .5s; /* Transição suave */
    background-color: var(--branco); /* Fundo branco */
    padding: 0 5px; /* Padding interno */
    width: auto; /* Largura automática */
    height: auto; /* Altura automática */
    z-index: 3; /* Para sobreposição */
}

/* Estilos para o campo de entrada quando está focado ou válido */
#new-task:focus,
#new-task:valid{
    border: 1px solid var(--azul); /* Borda azul */
}

#add{
    /* Estilizando o botão de adicionar tarefa */
    height: 50px; /* Altura fixa */
    width: 27%; /* Largura de 27% */
    border: none; /* Sem borda */
    padding: 10px; /* Padding interno */
    border-radius: 10px; /* Bordas arredondadas */
    background-color: var(--azul); /* Cor de fundo azul */
    color: var(--branco); /* Cor do texto branca */
}

/* Estilos para o botão de adicionar tarefa ao passar o mouse */
#add:hover{
    cursor: pointer; /* Cursor de ponteiro */
    background-color: rgb(52, 52, 167); /* Cor de fundo ao passar o mouse */
}

#content-task{
    /* Estilizando a lista de tarefas */
    display: flex; /* Usando flexbox */
    flex-direction: column; /* Direção das colunas */
    gap: 50px; /* Espaçamento entre tarefas */
    margin-top: 30px; /* Margem superior */
}

.task{
    /* Estilizando cada tarefa */
    display: flex; /* Usando flexbox */
    justify-content: space-between; /* Espaçamento entre itens */
    align-items: center; /* Alinhando itens verticalmente */
    width: 100%; /* Largura total */
    height: 50px; /* Altura fixa */
}

.input-task{
    /* Estilizando o campo de entrada da tarefa */
    width: 62%; /* Largura de 62% */
    background-color: transparent; /* Fundo transparente */
    padding: 15px 5px; /* Padding interno */
    border: 1px solid rgba(128, 128, 128, 0.458); /* Borda com cor semi-transparente */
    outline: none; /* Removendo contorno padrão */
    border-radius: 10px; /* Bordas arredondadas */
    font-size: .8em; /* Tamanho da fonte */
}

.butons{
    /* Estilizando o container de botões */
    display: flex; /* Usando flexbox */
    justify-content: space-between; /* Espaçamento entre itens */
    align-items: center; /* Alinhando itens verticalmente */
    width: 27%; /* Largura de 27% */
}

.btn{
    /* Estilizando botões */
    height: 50px; /* Altura fixa */
    width: 45%; /* Largura de 45% */
    border: none; /* Sem borda */
    border-radius: 10px; /* Bordas arredondadas */
    color: var(--branco); /* Cor do texto branca */
}

.edt{
    /* Estilizando botão de editar */
    background-color: rgb(110, 110, 254); /* Cor de fundo azul claro */
}

.edt:hover{
    /* Estilos para botão de editar ao passar o mouse */
    background-color: rgb(91, 91, 255); /* Cor de fundo ao passar o mouse */
    cursor: pointer; /* Cursor de ponteiro */
}

.exc{
    /* Estilizando botão de excluir */
    background-color: var(--vermelho); /* Cor de fundo vermelha */
}

.exc:hover{
    /* Estilos para botão de excluir ao passar o mouse */
    background-color: rgb(252, 44, 44); /* Cor de fundo ao passar o mouse */
    cursor: pointer; /* Cursor de ponteiro */
}

.save{
    /* Estilizando botão de salvar */
    background-color: rgb(86, 255, 86); /* Cor de fundo verde claro */
}

.save:hover{
    /* Estilos para botão de salvar ao passar o mouse */
    background-color: rgb(60, 214, 60); /* Cor de fundo ao passar o mouse */
    cursor: pointer; /* Cursor de ponteiro */
}

.check{
    /* Estilizando checkbox */
    border: 1px solid rgb(110, 110, 254); /* Borda azul */
    width: 20px; /* Largura fixa */
    height: 20px; /* Altura fixa */
    margin-right: 10px; /* Margem à direita */
    border-radius: 5px; /* Bordas arredondadas */
    display: flex; /* Usando flexbox */
    align-items: center; /* Alinhando itens verticalmente */
    justify-content: center; /* Centralizando conteúdo */
}

.check:hover{
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    scale: 1.2; /* Aumentando o tamanho ao passar o mouse */
}

/* Estilos para o campo de entrada da tarefa ao passar o mouse sobre o checkbox */
.check:hover ~ .input-task{
    border: 2px solid var(--azul); /* Borda azul ao passar o mouse */
}

/* Estilos para checkbox marcado */
input[type="checkbox"]:checked + .check{
    background-color: var(--azul); /* Cor de fundo azul */
    color: var(--branco); /* Cor do texto branca */
}

/* Estilos para o conteúdo do checkbox marcado */
input[type="checkbox"]:checked + .check::after{
    content: "✔"; /* Adicionando um ícone de verificação */
}

.risco{
    /* Estilizando a linha que aparece quando a tarefa é concluída */
    position: absolute; /* Posicionamento absoluto */
    display: none; /* Inicialmente oculto */
    border: none; /* Sem borda */
    background-color: var(--azul); /* Cor de fundo azul */
    height: 2px; /* Altura da linha */
    width: 22%; /* Largura da linha */
    transform: translateX(16%) translateY(0px); /* Posicionamento da linha */
}

/* Exibindo a linha quando a tarefa é marcada como concluída */
input[type="checkbox"]:checked ~ .risco{
    display: inline; /* Exibindo a linha */
}

/* Estilos para o campo de entrada da tarefa quando a tarefa é marcada como concluída */
input[type="checkbox"]:checked ~ .input-task{
    border: 2px solid var(--azul); /* Borda azul */
}

/* Estilos para o botão de editar quando a tarefa é marcada como concluída */
input[type="checkbox"]:checked ~ .butons > .edt{
    pointer-events: none; /* Desabilitando interações */
    opacity: .5; /* Tornando o botão semi-transparente */
}

/* Estilos para o campo de entrada da tarefa ao passar o mouse */
.hover{
    border: 2px solid var(--azul); /* Borda azul ao passar o mouse */
}

/* Estilos para o campo de entrada da tarefa em estado normal */
.normal{
    border: 1px solid rgba(128, 128, 128, 0.458); /* Borda com cor semi-transparente */
}

#container-alert{
    /* Estilizando o container de alertas */
    position: absolute; /* Posicionamento absoluto */
    display: flex; /* Usando flexbox */
    flex-direction: column; /* Direção das colunas */
    gap: 20px; /* Espaçamento entre alertas */
    width: 26%; /* Largura de 26% */
    bottom: 10px; /* Distância do fundo */
    left: -25%; /* Posição inicial fora da tela */
}

.alert{
    /* Estilizando cada alerta */
    background-color: rgb(35, 37, 49); /* Cor de fundo escura */
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    border-radius: 10px; /* Bordas arredondadas */
    display: flex; /* Usando flexbox */
    flex-direction: column; /* Direção das colunas */
    justify-content: center; /* Centralizando verticalmente */
    align-items: last baseline; /* Alinhando itens na base */
    border: 1px solid var(--branco); /* Borda branca */
    animation: surge .5s; /* Animação de surgimento */
}

.alert > div:not(.alert-time){
    /* Estilizando divs dentro do alerta, exceto a div de tempo */
    width: 100%; /* Largura total */
    display: flex; /* Usando flexbox */
    gap: 20px; /* Espaçamento entre itens */
    margin-bottom: 5px; /* Margem inferior */
    padding: 0 10px; /* Padding interno */
}

.alert-icon{
    /* Estilizando o ícone do alerta */
    background-color: rgba(255, 255, 255, 0.05); /* Fundo semi-transparente */
    min-width: 50px; /* Largura mínima */
    min-height: 50px; /* Altura mínima */
    border-radius: 10px; /* Bordas arredondadas */
    color: red; /* Cor do ícone */
    display: flex; /* Usando flexbox */
    justify-content: center; /* Centralizando horizontalmente */
    align-items: center; /* Centralizando verticalmente */
    margin-top: 5px; /* Margem superior */
}

.alert-circle{
    /* Estilizando o círculo do alerta */
    width: 90%; /* Largura de 90% */
    height: 90%; /* Altura de 90% */
    display: flex; /* Usando flexbox */
    align-items: center; /* Centralizando verticalmente */
    justify-content: center; /* Centralizando horizontalmente */
    border: 2px solid red; /* Borda vermelha */
    border-radius: 50%; /* Círculo perfeito */
}

.alert-circle > i{
    /* Estilizando o ícone dentro do círculo */
    color: red; /* Cor do ícone */
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    font-size: 25px; /* Tamanho do ícone */
    display: flex; /* Usando flexbox */
    align-items: center; /* Centralizando verticalmente */
    justify-content: center; /* Centralizando horizontalmente */
}

.alert-text{
    /* Estilizando o texto do alerta */
    font-size: 16px; /* Tamanho da fonte */
    display: flex; /* Usando flexbox */
    align-items: center; /* Centralizando verticalmente */
    white-space: nowrap; /* Impedindo quebra de linha */
    overflow: hidden; /* Ocultando texto que excede o limite */
}

.alert-time{
    /* Estilizando a barra de tempo do alerta */
    background-color: var(--branco); /* Cor de fundo branca */
    height: 5px; /* Altura fixa */
    width: 100%; /* Largura total */
    border-bottom-left-radius: 10px; /* Bordas arredondadas */
    border-bottom-right-radius: 10px; /* Bordas arredondadas */
    animation: time 5s; /* Animação de tempo */
}

.detalhes{
    /* Estilizando a seção de detalhes */
    width: 100%; /* Largura total */
    display: flex; /* Usando flexbox */
    justify-content: center; /* Centralizando horizontalmente */
    align-items: center; /* Centralizando verticalmente */
    margin-top: 20px; /* Margem superior */
}

#ver-detalhes{
    /* Estilizando o botão para ver detalhes */
    padding: 15px; /* Padding interno */
    border: none; /* Sem borda */
    border-radius: 10px; /* Bordas arredondadas */
    background-color: var(--azul); /* Cor de fundo azul */
    color: var(--branco); /* Cor do texto branca */
}

/* Estilos para o botão de ver detalhes ao passar o mouse */
#ver-detalhes:hover{
    cursor: pointer; /* Cursor de ponteiro */
    background-color: rgb(52, 52, 167); /* Cor de fundo ao passar o mouse */
}

#modal{
    /* Estilizando o modal */
    position: fixed; /* Posicionamento fixo */
    top: 0; /* Alinhando ao topo */
    left: 0; /* Alinhando à esquerda */
    right: 0; /* Alinhando à direita */
    bottom: 0; /* Alinhando ao fundo */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    display: flex; /* Usando flexbox */
    justify-content: center; /* Centralizando horizontalmente */
    align-items: center; /* Centralizando verticalmente */
    z-index: 1000; /* Para sobreposição */
    transition: all 0.3s ease; /* Transição suave */
}

.disabled{
    /* Estilos para elementos desabilitados */
    opacity: 0; /* Tornando invisível */
    visibility: hidden; /* Ocultando */
}

.active{
    /* Estilos para elementos ativos */
    opacity: 1; /* Tornando visível */
    visibility: visible; /* Exibindo */
}

.container-details{
    /* Estilizando o container de detalhes */
    background-color: var(--branco); /* Cor de fundo branca */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.425); /* Sombra para profundidade */
    width: 40%; /* Largura de 40% */
    position: absolute; /* Posicionamento absoluto */
    z-index: 100; /* Para sobreposição */
    padding: 20px; /* Padding interno */
    border-radius: 10px; /* Bordas arredondadas */
}

.details-header{
    /* Estilizando o cabeçalho dos detalhes */
    display: flex; /* Usando flexbox */
    justify-content: space-between; /* Espaçamento entre itens */
    border-bottom: 1px solid rgba(128, 128, 128, 0.3); /* Borda inferior */
}

.details-header > h1{
    /* Estilizando o título do cabeçalho */
    color: #2c3e50; /* Cor do texto do título */
}

#close{
    /* Estilizando o botão de fechar */
    width: 50px; /* Largura fixa */
    background-color: transparent; /* Fundo transparente */
    border: none; /* Sem borda */
    height: 50px; /* Altura fixa */
    font-size: 1.8em; /* Tamanho da fonte */
    cursor: pointer; /* Cursor de ponteiro */
    color: #777; /* Cor do texto */
}

.body-details{
    /* Estilizando o corpo dos detalhes */
    display: flex; /* Usando flexbox */
    flex-direction: column; /* Direção das colunas */
    gap: 10px; /* Espaçamento entre itens */
}

#completed-text{
    /* Estilizando o texto de tarefa concluída */
    color: #777; /* Cor do texto */
    margin-top: 10px; /* Margem superior */
}

.task-completed{
    /* Estilizando a tarefa concluída */
    color: #777; /* Cor do texto */
    border: 2px solid var(--azul); /* Borda azul */
    padding: 10px 20px; /* Padding interno */
    border-radius: 10px; /* Bordas arredondadas */
}

/* Animações */
@keyframes surge {
  from{
    margin-left: -20px; /* Início da animação deslocando para a esquerda */
  }
  to{
    margin-left: 100%; /* Fim da animação deslocando para a direita */
  }
}

@keyframes diminui {
  from{
    margin-left: 100%; /* Início da animação deslocando para a direita */
  }
  to{
    margin-left: -20px; /* Fim da animação deslocando para a esquerda */
  }
}

@keyframes time {
  from {
    width: 100%; /* Início da animação com largura total */
  }
  to {
    width: 0%; /* Fim da animação reduzindo a largura a zero */
  }
}

/* Estilos responsivos */
@media screen and (max-width: 834px) {
    section{
        width: 95%; /* Largura de 95% em telas menores */
    }

    #container-alert{
        width: 100vw; /* Largura total da viewport */
        left: -95%; /* Posição inicial fora da tela */
    }

    .alert{
        width: 90vw; /* Largura de 90% da viewport */
    }

    .alert-text{
        white-space: wrap; /* Permitir quebra de linha no texto do alerta */
    }

    .input-task{
        width: 60%; /* Largura de 60% em telas menores */
    }

    .task{
        justify-content: start; /* Alinhando itens ao início */
        gap: 10px; /* Espaçamento entre itens */
    }

    .butons{
        display: flex; /* Usando flexbox */
        flex-direction: column; /* Direção das colunas */
        gap: 5px; /* Espaçamento entre botões */
    }

    .btn{
        width: 100%; /* Largura total para botões */
        height: 30px; /* Altura fixa */
    }

    .risco{
        transform: translateX(27%) translateY(0px); /* Ajustando a posição da linha */
        width: 46%; /* Largura da linha */
    }
}
